/*main color configure*/
$headerColor:#4c3398;
$currentColor:#5d3ebc;
$bodyColor:#fafafa;
$borderColor:#b18dfd;
/*color configure*/
$white:#eeedf6;
$yellow:#ffd300;
$purple:#5d3ebc;
$black:#191919;
$green:#05c46b;
$green-100:#0d7e3d;
$red:#e74c3c;
$red-100:#95261b;
/*media screen configure*/
$screenmd: 992px;
$screenlg: 1200px;
$screenxl: 1400px;
$screensm: 768px;
$screens: 576px;
/*font configure*/
$fontFamily: 'Roboto', sans-serif;
$bodySize: 1.4rem;
$htmlSize: 10px;
$smallSize: 1.2rem;
$pl:1rem;
$pr:1rem;
$fonts: 1.2rem;
$fontm: 1.4rem;
$fontl: 2rem;
$fontlg: 2.5rem;
$fontxl: 3rem;
/*url configure*/
$url: "/";