@import "_variables";
@import "_mixin";

header {
    nav {
        height: 55px;
        background-color: $headerColor;
        display: flex;

        .nav {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            @media screen and (max-width: $screensm) {
                justify-content: space-between;
            }
        }

        h1 {
            font-size: $fontl;
            display: none;
            color:$white;
            font-weight: 400;

            @media screen and (max-width: $screensm) {
                display: block;
            }
        }

        .profile {
            display: flex;
            justify-content: flex-end;
            position: relative;
            cursor: pointer;

            figure {
                height: 40px;
                width: 40px;
                
                img {
                    border-radius: 50%;
                    height: 40px;
                    width: 40px;
                    border:2px solid $yellow;
                }
            }

        }
        
    }

    .navbar {
        background: $currentColor;
        
        .header {
            display: flex;
            align-items: center;
            height: 90px;
            justify-content: space-between;

            @media screen and (max-width: $screensm) {
                justify-content: center;
            }
        }

        h1 {
            color:$white;
            display: block;

            @media screen and (max-width: $screensm) {
                display: none;
            }
        }

        figure {
            img {
                height: 35px;
            }
        }
    }
}